{{#if hideForm}}{{else}}
  {{#if activationToken}}
    <p>Confirm your email address and enter your desired password to activate your acount.</p>
  {{/if}}
  <p>{{input id='username' value=email placeholder='email' action='login'}}</p>
  {{#if showAccountCheckbox}}
    <p>{{input type=checkbox checkedBinding=showPassword}}Already have an account?</p>
  {{/if}}
  {{#if showPassword}}
    <p>{{input id='password' value=password type='password' placeholder='password' action='login'}}</p>
  {{/if}}
  <p>
    {{#if loading}}
      <em>{{loadingMessage}}</em>
    {{else}}
      <a href="#" {{action 'submit' target='view'}}>{{buttonMessage}}</a>
    {{/if}}
  </p>
{{/if}}

<p>
{{#if confirmationDetailsMissing}}Please enter a valid email address and password to confirm this transaction{{/if}}
{{#if confirmationAuthError}}Sorry, there was a problem with the email and password you provided.{{/if}}
{{#if transactionConfirmed}}This transaction has been confirmed.{{/if}}
{{#if loginSuccessful}}You have been logged in.{{/if}}
{{#if loginError}}Sorry, there was an error with your login credentials.{{/if}}

{{#if activationError}}Sorry, there was a problem with the information you entered to activate your account.{{/if}}
{{#if accountActivated}}Congratulations! Your account has been activated.{{/if}}
{{#if activationDetailsMissing}}Please enter your email and password to activate your account.{{/if}}

{{#if noPassword}}You are registered but you did not enter your password. Forgot password?{{/if}}
{{#if userInactive}}You have already registered but have not activated your account. Resend activation email?{{/if}}
{{#if activationSent}}Thank you! We have sent an activation email to the address you provided.{{/if}}
</p>
