{{#if hideForm}}{{else}}
  {{#if activationToken}}
    <p>Confirm your email address and enter your desired password to activate your acount.</p>
  {{/if}}
  {{input value=email placeholder='email' action='login'}}
  {{input value=password type='password' placeholder='password' action='login'}}
  
  <a href="#" {{action 'submit'}}>
    {{#if activationToken}}
      Activate Account
    {{else}}
      Get Started
    {{/if}}
  </a>
{{/if}}

<p>
{{#if activationError}}Sorry, there was a problem with the information you entered to activate your account.{{/if}}
{{#if accountActivated}}Congratulations! Your account has been activated.{{/if}}
{{#if activationDetailsMissing}}Please enter your email and password to activate your account.{{/if}}
{{#if noPassword}}You are registered but you did not enter your password. Forgot password?{{/if}}
{{#if userInactive}}You have already registered but have not activated your account. Resend activation email?{{/if}}
{{#if activationSent}}Thank you! We have sent an activation email to the address you provided.{{/if}}
</p>
