<h2 id='title'>shibe.io</h2>

{{outlet}}

<p>
  <small>
    {{#if apiIsUp}}
      The API is up! Hooray!
    {{else}}
      {{#if checkingApi}}
        <em>Checking API status...</em>
      {{else}}
        The API could not be accessed.
      {{/if}}
    {{/if}}
  <small>
</p>

{{#if currentUserId}}
  {{#if currentUser.id}}
    <p>You are logged in as {{currentUser.email}}</p>
    <p>Your balance is {{currentUser.balance}} DOGE</p>
    {{#if currentUser.depositAddress}}
      <p>You can deposit more doge to {{currentUser.depositAddress}}</p>
      {{qr-code content=currentUser.depositAddress}}
    {{else}}
      <p>Your deposit address is stil being generated.</p>
    {{/if}}
    <p><a href="#" {{action logout}}>Log Out</a></p>
  {{else}}
    <p>You are logged in...</p>
    <p><a href="#" {{action logout}}>Log Out</a></p>
  {{/if}}
{{/if}}
